In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("DigitalAd_dataset.csv")
data.head()

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1

In [3]:
# in the data, we have customer Age, Salary, and we have to predict whether he would buy the product or not (Status feature)
# Firstly we have to do some feature scaling on the Age and Salary as value for salary is so big with repsect to age and that would lead to inaccurate 
# prediction. We would apply standardization technique to scale the features.
# we can also apply normalization
# in standardization, we can use fit_transform and transform method, diff between them is that fit_transform scales the data with the mean and SD of 
# indivisual features but transform method scales the data taking the combined mean and standard deviation

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
data.iloc[:,:-1] = sc.fit_transform(data.iloc[:,:-1])

data.head()

        Age    Salary  Status
0 -1.877311  0.359940       0
1 -0.826666  0.301210       0
2  0.892570 -1.313857       1
3  0.701544 -1.284492       1
4  0.797057 -1.225763       1

In [21]:
# lets split the dataset now
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,:-1], data.iloc[:,-1], test_size= 0.2)

In [22]:
# lets train the model now
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=0)
model.fit(X_train, y_train)
print("Logistic Regression model's accuracy : ", model.score(X_test, y_test))

Logistic Regression model's accuracy :  0.8875

In [25]:
# lets try to predict something now
new_age = input("Enter Customer's Age : ")
new_salary = input("Enter Customer's Salary : ")
if (model.predict(sc.transform([[new_age, new_salary]])) == 1):
    print("Customer will buy.")

else:
    print("Customer Won't buy.")

Customer will buy.

In [24]:
# lets ploy the confusion matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, model.predict(X_test))
print("Confusion matrix : \n", cm)

Confusion matrix :
 [[49  3]
 [ 6 22]]